Repository DmitryTevtonsky/test-task-haulmont: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --no-ignore --max-warnings=2 --fix, stylelint --fix

List and dropdowns ready.
  src/api/index.ts
  src/api/types.ts
  src/core/components/dropdown/index.module.css
  src/core/components/dropdown/index.tsx
  src/core/components/index.ts
  src/core/components/list/index.module.css
  src/core/components/list/index.tsx
  src/core/page/index.module.css
  src/core/page/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=2 --fix, stylelint --fix

Working with filtration and usability.
  src/core/components/dropdown/index.module.css
  src/core/components/dropdown/index.tsx
  src/core/components/list/index.module.css
  src/core/page/index.module.css
  src/core/page/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=2 --fix, stylelint --fix

Test done.
  README.md
  src/api/index.ts
  src/core/components/dropdown/index.tsx
  src/core/components/list/index.module.css
  src/core/components/list/index.tsx
  src/core/page/index.module.css
  src/core/page/index.tsx
  src/core/utils/filters.ts
Due: prettier --write, eslint --no-ignore --max-warnings=2 --fix, stylelint --fix

Updates
  .env
  .eslintignore
  .eslintrc
  .gitattributes
  .gitignore
  .husky/.gitignore
  .lintstagedrc
  README.md
  config-overrides.js
  css/bundle.css
  css/bundle.css.map
  index.html
  js/bundle.js
  js/bundle.js.LICENSE.txt
  js/bundle.js.map
  middlewares/index.js
  package.json
  public/index.html
  src/api/index.ts
  src/api/types.ts
  src/core/components/dropdown/index.module.css
  src/core/components/dropdown/index.tsx
  src/core/components/index.ts
  src/core/components/list/index.module.css
  src/core/components/list/index.tsx
  src/core/index.ts
  src/core/page/index.module.css
  src/core/page/index.tsx
  src/core/utils/filters.ts
  src/index.tsx
  src/react-app-env.d.ts
  stylelint.config.js
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --no-ignore --max-warnings=2 --fix, stylelint --fix

Updates
  js/bundle.js
  js/bundle.js.map
Due: none

Updates
  index.html
Due: none

Updates
  asset-manifest.json
  css/bundle.css.map
  css/chunks/0.15f6ce2fa9d96c3338d9.css
  css/chunks/0.15f6ce2fa9d96c3338d9.css.map
  index.html
  js/bundle.js
  js/bundle.js.map
  precache-manifest.6838d5f9a7773adcbe9665accad75883.js
  service-worker.js
  static/css/main.15f6ce2f.chunk.css
  static/css/main.15f6ce2f.chunk.css.map
  static/js/2.1daa4866.chunk.js
  static/js/2.1daa4866.chunk.js.LICENSE.txt
  static/js/2.1daa4866.chunk.js.map
  static/js/main.e06e20f1.chunk.js
  static/js/main.e06e20f1.chunk.js.map
  static/js/runtime-main.90d745e2.js
  static/js/runtime-main.90d745e2.js.map
Due: prettier --write, stylelint --fix

Updates
  asset-manifest.json
  css/bundle.css
  css/bundle.css.map
  css/chunks/0.15f6ce2fa9d96c3338d9.css
  css/chunks/0.15f6ce2fa9d96c3338d9.css.map
  index.html
  js/bundle.js
  js/bundle.js.LICENSE.txt
  js/bundle.js.map
  precache-manifest.6838d5f9a7773adcbe9665accad75883.js
  service-worker.js
  static/css/main.15f6ce2f.chunk.css.map
  static/js/2.1daa4866.chunk.js
  static/js/2.1daa4866.chunk.js.map
  static/js/main.e06e20f1.chunk.js
  static/js/main.e06e20f1.chunk.js.map
  static/js/runtime-main.90d745e2.js
  static/js/runtime-main.90d745e2.js.map
Due: prettier --write, stylelint --fix

Updates
  index.html
  js/bundle.js
  js/bundle.js.map
  test-task-haulmont/css/bundle.css
  test-task-haulmont/css/bundle.css.map
  test-task-haulmont/js/bundle.js
  test-task-haulmont/js/bundle.js.LICENSE.txt
  test-task-haulmont/js/bundle.js.map
Due: prettier --write, stylelint --fix

Updates
  index.html
  test-task-haulmont/js/bundle.js
  test-task-haulmont/js/bundle.js.map
Due: none

Updates
  asset-manifest.json
  index.html
  precache-manifest.8b064979e714f4394d1e31d70f86ed6b.js
  service-worker.js
  static/css/main.15f6ce2f.chunk.css
  static/css/main.15f6ce2f.chunk.css.map
  static/js/2.1daa4866.chunk.js
  static/js/2.1daa4866.chunk.js.LICENSE.txt
  static/js/2.1daa4866.chunk.js.map
  static/js/main.e06e20f1.chunk.js
  static/js/main.e06e20f1.chunk.js.map
  static/js/runtime-main.90d745e2.js
  static/js/runtime-main.90d745e2.js.map
  test-task-haulmont/css/bundle.css.map
  test-task-haulmont/css/chunks/0.15f6ce2fa9d96c3338d9.css
  test-task-haulmont/css/chunks/0.15f6ce2fa9d96c3338d9.css.map
  test-task-haulmont/js/bundle.js
  test-task-haulmont/js/bundle.js.map
Due: prettier --write, stylelint --fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.8b064979e714f4394d1e31d70f86ed6b.js
  service-worker.js
  static/css/main.15f6ce2f.chunk.css.map
  static/js/2.1daa4866.chunk.js
  static/js/2.1daa4866.chunk.js.map
  static/js/main.e06e20f1.chunk.js
  static/js/main.e06e20f1.chunk.js.map
  static/js/runtime-main.90d745e2.js
  static/js/runtime-main.90d745e2.js.map
  test-task-haulmont/css/bundle.css
  test-task-haulmont/css/bundle.css.map
  test-task-haulmont/css/chunks/0.15f6ce2fa9d96c3338d9.css
  test-task-haulmont/css/chunks/0.15f6ce2fa9d96c3338d9.css.map
  test-task-haulmont/js/bundle.js
  test-task-haulmont/js/bundle.js.LICENSE.txt
  test-task-haulmont/js/bundle.js.map
Due: prettier --write, stylelint --fix

Updates
  css/bundle.css
  css/bundle.css.map
  index.html
  js/bundle.js
  js/bundle.js.LICENSE.txt
  js/bundle.js.map
  test-task-haulmont/js/bundle.js.map
Due: prettier --write, stylelint --fix

Updates
  index.html
  js/bundle.js
  js/bundle.js.map
Due: none

GH pages deploying.
  README.md
  config-overrides.js
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.css)) or (any of: *.{graphql,json})
  eslint --no-ignore --max-warnings=2 --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.css
